body {
     background: #DEF7FE;
 }

.carousel-item{
    height: 500px;
}
.carousel-item img{
    height: 500px;
}

.left-button {
    position: relative;
    top: -250px;
}

.right-button {
    position: relative;
    left: 280px;
    top: -283px;
}
