{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Голощапов Глеб</title>

    <link rel="stylesheet" href="../../static/myself/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/myself/css/myself.css">
</head>
<body>

<div class="d-flex  align-items-lg-center justify-content-center m-1" >
    <div id="carouselExampleControls" class="carousel slide carousel-dark w-25" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-mdb-interval="2000">
                <img class="carousel_image" src="../../static/myself/img/myself1.jpg"
                     alt="...">
            </div>
            <div class="carousel-item" data-mdb-interval="2000">
                <img class="carousel_image" src="../../static/myself/img/myself2.jpg"
                     alt="...">
            </div>
            <div class="carousel-item" data-mdb-interval="2000">
                <img class="carousel_image" src="../../static/myself/img/myself3.jpg"
                     alt="...">
            </div>
        </div>
        <button class="carousel-control-prev left-button" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev" >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next right-button" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
</div>
<div class="container" style="margin-top: -50px;">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Город</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577336.7642260902!2d36.82512550434466!3d55.580748059742575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1663949102859!5m2!1sru!2sru"
                    width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-4">
            <h2>Увлечения</h2>
            <p>Не представляю свою жизнь без музыки, грустные осенние вечера провожу наедине с гитарой, наигрывая такие любимые классические мелодии. С большим интересом смотрю фильмы на английском языке и заслушиваюсь подкастами. Программирование - для меня не просто увлечение, а любимое дело , которому мне хочется  посвятить себя. Необычное сочетание выходит - технарь с гуманитарным уклоном))</p>

        </div>
        <div class="col-md-4">
            <h2>Опыт в разработке</h2>
            <ul>
                <li>Закончил <a
                        href="https://lyceum.yandex.ru/certificate/check/?certNumber=229945425&lastName=Голощапов">лицей
                    Академии Яндекса</a> по основам языка Python
                </li>
                <li>Являюсь серебряным медалистом<a
                        href="https://vk.com/wall-123477275_2989"> Национального Чемпионата WorldSkills Russia</a> по
                    мобильной разработке среди
                    юниоров 14-16 лет.
                </li>
            </ul>

        </div>
    </div>


</div>

<footer class="container">
</footer>

<script src="../../static/myself/js/bootstrap.bundle.min.js"></script>
</body>
</html>
